[package]
name = "aether-core"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
blake3.workspace = true
serde.workspace = true
thiserror.workspace = true
